/* ------------------ */
/* Custom Properties */
/* ------------------ */


html {
    scroll-behavior: smooth;

}

:root {
    /* colors */
    --clr-mg: 36 97% 48%;
    --clr-mgd: 19 96% 44%;
    --clr-white: 0 0% 100%;
    --clr-gr: 130 18% 38%;
    --clr-dark: 213 96% 11%;

    /* font-sizes */
    --fs-900: 6.375rem;
    --fs-800: 3rem;
    --fs-700: 2.5rem;
    --fs-600: 2.25rem;
    --fs-500: 1.95rem;
    --fs-400: 1.75rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-weight */
    --fw-bold: 700;

    /* font-families */
    --ff-sans-normal: 'Noto Sans', sans-serif;
    --ff-brush-title: 'Finger Paint', cursive;
    --ff-brush-body: 'Nanum Brush Script', cursive;
}

@media (min-width: 35em) {
    /* font-sizes */
    :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    /* font-sizes */
    :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
    }
}

/* ------------------ */
/* Resets */
/* ------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* box sizing */

*, *::before,*::after {
    box-sizing: border-box;
}

/* Reset Margins*/

body, h1, h2, h3, h4, h5, h6, p, figure, picture {
    margin: 0;
}

/* font-weight headers */

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

/* set up body defaults */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
    color: hsl(var(--clr-dark));
    /* background-color: hsl(var(--clr-white)); */
    background-image: url(images/wall.jpg);
    background-size: cover;
}

/* make images easier to work with */

img, picture {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* make form elements easier to work with */

input, button, textarea, select {
    font: inherit;
}

/* remove animations for people who've turned them off 
for accessability for folks who get motion sickness etc. */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/* END OF RESETS */

/* ------------------ */
/* General Layouts */
/* ------------------ */

h1 {
    font-family: var(--ff-brush-title);
}

/* ------------------ */
/* navigation layout */
/* ------------------ */

.sidenav {
    border: solid 2px black;
    height: 100%;
    position: fixed;
    width: 10em;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom, rgb(237, 34, 36, .3),
     rgb(243, 91, 34, .3), rgb(249, 150, 33, .3), rgb(245, 193, 30, .3), 
     rgb(241, 235, 27, .3) 27%, rgb(241, 235, 27, .3), rgb(241, 235, 27, .3) 33%,
      rgb(99, 199, 32, .3), rgb(12, 155, 73, .3), rgb(33, 135, 141, .3), 
      rgb(57, 84, 165, .3), rgb(97, 55, 155, .3), rgb(147, 40, 142, .3));
    backdrop-filter: blur(5px);
}

.img-credit,
.sidenav a.img-credit {
    position: relative;
    bottom: 0;
    font-size: x-small;
    text-align: center;
    color: hsl(var(--clr-white));
}

.sidenav a {
    text-decoration: none;
    display: block;
    font-size: var(--fs-600);
    padding: .25em;
    color: hsl(var(--clr-white));
}

.nav-toggle {
    display: none;
}

.main-content {
    margin-left: 10em;
    padding-inline: 1em;
    background-color: transparent;
    color: hsl(var(--clr-dark));
}

.section-intro__body {
    margin-block: 4em;
}

@media (max-width: 35rem) {
    .main-content {
        margin-left: 0;
    }

    .sidenav {
        bottom: 0;
        right: 0;
        z-index: 1000;

        transform: translateX(-100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .nav-toggle {
        position: absolute;
        display: unset;
        border: 0;
        background-color: transparent;
        padding: .5em;
        cursor: pointer;
        left: 1em;
        top: 1em;
        z-index: 2000;
    }
    
    .hamburger {
        display: block;
        position: relative;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background-color: black;
        width: 1em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .hamburger::before {
        top: 6px;
    }
    
    .hamburger::after {
        bottom: 6px;
    }

        
    .nav-open .sidenav {
        transform: translateX(0);
        background-color: hsl(var(--clr-white));
        border-block: solid 2px hsl(var(--clr-dark));
        border-right: solid 2px hsl(var(--clr-dark));
    }

    .nav-open .sidenav a {
        color: hsl(var(--clr-dark));
    }
    
    .nav-open .nav-toggle {
        position: fixed;
    }
    
    .nav-open .hamburger {
        transform: rotate(.625turn);
    }
    
    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
    }
    
    .nav-open .hamburger::after {
        opacity: 0;
    }
}

/* ------------------ */
/* End of Nav Layout */
/* ------------------ */

/* ------------------ */
/* Main Content Layout */
/* ------------------ */

.main-content {
    margin-top: 5em;
    padding-inline: 3em;
}

section {
    margin-bottom: 5em;
}

.section-title {
    font-size: var(--fs-700);
}

.section-intro {
    text-align: end;
    display: grid;
    grid-template-areas: 
            "title img img"
            "subtitle img img"
            "body body body ";
}

.section-intro__title {
    grid-area: title;
    font-family: var(--ff-brush-body);
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
    to {  
        opacity:1;  
    }  
 }

.author {
    background-image: linear-gradient(
            to right, black,rgb(237, 34, 36), 
            rgb(243, 91, 34), 
            rgb(249, 150, 33), 
            rgb(245, 193, 30), 
            rgb(241, 235, 27), 
            rgb(209, 241, 27), 
            rgb(170, 241, 27), 
            rgb(99, 199, 32), 
            rgb(12, 155, 73), 
            rgb(33, 135, 141), 
            rgb(57, 84, 165), 
            rgb(97, 55, 155), 
            rgb(147, 40, 142),
            black);
    background-clip: text;
    color: transparent;
    background-size: 500%;
    animation: author-bg 9s infinite alternate;
}

@keyframes author-bg {
    0% {background-position: left;}
    100% {background-position: right;}
}

.section-intro__subtitle {
    grid-area: subtitle;
    font-size: var(--fs-500);
    font-family: var(--ff-brush-body);
    animation: fadeIn 4s ease-in;

}

.section-intro__body {
    text-align: start;
    grid-area: body;
    padding-inline: 6em;
}

.section-intro__img {
    grid-area: img;
    background-image: linear-gradient(to top, rgb(237, 34, 36, .3),
    rgb(243, 91, 34, .3), rgb(249, 150, 33, .3), rgb(245, 193, 30, .3), 
    rgb(241, 235, 27, .3) 27%, rgb(241, 235, 27, .3), rgb(241, 235, 27, .3) 33%,
     rgb(99, 199, 32, .3), rgb(12, 155, 73, .3), rgb(33, 135, 141, .3), 
     rgb(57, 84, 165, .3), rgb(97, 55, 155, .3), rgb(147, 40, 142, .3)), url(images/person.jpg);
    background-size: contain;

    min-width: 8em;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px;
    margin: 1em;
    animation: fadeIn 5s ease-in;
}

/* Projects Content Layout */
.section-portfolio {
    text-align: center;
}

.section-portfolio__title {
    text-decoration: overline underline;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 1em;
    margin-top: 1em;
    background-color: hsl(var(--clr-white) / .5);
    padding: .25em;
}

.section-portfolio__subtitle,
.publisher {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-300);
}

.project-item > img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    aspect-ratio: 1;
}

/* contact layout */
.section-contact {
    text-align: center;
}

.section-contact__title {
    font-size: var(--fs-600);
    font-family: var(--ff-brush-title);
}

.section-contact__subtitle,
.email {
    font-family: var(--ff-brush-body);
    font-size: var(--fs-500);
}

/* smaller screens main content layout */

@media (max-width: 35rem) {

    .section-intro {
        text-align: center;
        grid-template-areas: 
                "title"
                "img"
                "subtitle"
                "body";
        justify-content: center;
    }

    .section-intro__body {
        padding-inline: 2em;
    }

    .projects {
        display: unset;
    }

    .section-contact {
        font-size: var(--fs-300);
    }
}